.logo {
  height: 80px;
  width: auto;
}

.logomin{
  height: 40px;
  width: auto;
}

.card-body{
  background-color: #F8F8FF;
}

.bg-foot{
  background-color: #FFD700;
}

.bg-blue{
  background-color: #4169E1;
}

nav .nav-link.text-yellow{
  color: #FFD700;
}

.text-yellow:hover {
  font-weight: bold;
}